    </div>
    <div class="row text-right">
      <ul class="list-inline footer">
        <li><a href="https://github.com/esampaio"><i class='fa fa-github-square'></i></a></li>
        <li><a href="https://twitter.com/esampaio"><i class='fa fa-twitter-square'></i></a></li>
        <li><a href="http://linkedin.com/in/eduardosampaio"><i class='fa fa-linkedin-square'></i></a></li>
        <li><a href="mailto:eduardo@sampa.io"><i class='fa fa-envelope'></i></a></li>
      </ul>
    </div>
  </div>
</body>
</html>
