<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  <link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <a class="extra" href="/">home</a>
      <a class="extra" href="/projects">projects</a>
    </div>
